@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
